version: '3.8'

services:
  gha-runner-yolo:
    build:
      context: .
      dockerfile: Dockerfile
    image: gha-runner-yolo:latest-2
    runtime: sysbox-runc
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - runner-work:/home/runner/actions/_work
      - runner-tools:/home/runner/actions/_tools

volumes:
  runner-work:
  runner-tools: